.brand-link{
    text-decoration:none;
    color:inherit;
}

.form-title {
  margin-bottom: var(--gap-xl);
}

.login-form {
  gap: 16px;
}

.register-text {
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-white);
}

.register-text a {
  color: var(--color-white);
  font-weight: 700;
  text-decoration: none;
  font-family: var(--font-code);
}

.register-text a:hover {
  text-decoration: underline;
}